;;; Configuration for LIFT tests

;; Settings
(:print-length          10)
(:print-level           5)
(:print-test-case-names t)

;; Suites to run
(rsb.test:root)

;; Report properties
(:report-property :title "rsb | Test Results")
(:report-property :relative-to rsb-test)

(:report-property :full-pathname "test-report.html/")
(:report-property :format        :html)
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style.css")
(:build-report)

(:report-property :full-pathname "test-results.xml")
(:report-property :format        :junit)
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
