;;; Configuration for LIFT tests

;; Settings
(:print-length          100)
(:print-level           50)
(:print-test-case-names t)

;; Suites to run
(rsb.introspection.test:introspection-root)

;; Report properties
(:report-property :title "rsb-introspection | Test Results")
(:report-property :relative-to rsb-introspection-test)

(:report-property :full-pathname "test-report-introspection.html/")
(:report-property :format        :html)
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style-introspection.css")
(:build-report)

(:report-property :full-pathname "test-results-introspection.xml")
(:report-property :format        :junit)
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
