;;; Configuration for LIFT tests

;; Settings
(:print-length          100)
(:print-level           50)
(:print-test-case-names t)

;; Suites to run
(rsb.builder.test:rsb-builder-root)

;; Report properties
(:report-property :title "rsb-builder | Test Results")
(:report-property :relative-to rsb-builder-test)

(:report-property :full-pathname "test-report-builder.html/")
(:report-property :format        :html)
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style-builder.css")
(:build-report)

(:report-property :full-pathname "test-results-builder.xml")
(:report-property :format        :junit)
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
