;;; Configuration for LIFT tests

;; Settings
(:print-length          100)
(:print-level           50)
(:print-test-case-names t)

;; Suites to run
(rsb.model.test:rsb-model-root)

;; Report properties
(:report-property :title "rsb-model | Test Results")
(:report-property :relative-to rsb-model-test)

(:report-property :full-pathname "test-report-model.html/")
(:report-property :format        :html)
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style-model.css")
(:build-report)

(:report-property :full-pathname "test-results-model.xml")
(:report-property :format        :junit)
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
