;;; Configuration for LIFT tests

;; Settings
(:print-length          100)
(:print-level           50)
(:print-test-case-names t)

;; Suites to run
(rsb.patterns.request-reply.test:patterns-request-reply-root)

;; Report properties
(:report-property :title "rsb-patterns-request-reply | Test Results")
(:report-property :relative-to rsb-patterns-request-reply-test)

(:report-property :full-pathname "test-report-patterns-request-reply.html/")
(:report-property :format        :html)
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style-patterns-request-reply.css")
(:build-report)

(:report-property :full-pathname "test-results-patterns-request-reply.xml")
(:report-property :format        :junit)
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
