;;; Configuration for LIFT tests

;; Settings
(:print-length          100)
(:print-level           50)
(:print-test-case-names t)

;; Suites to run
(rsb.filter.test::regex-filter-root)

;; Report properties
(:report-property :title "rsb-filter-regex | Test Results")
(:report-property :relative-to rsb-filter-regex-test)

(:report-property :full-pathname "test-report-filter-regex.html/")
(:report-property :format        :html)
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style.css")
(:build-report)

(:report-property :full-pathname "test-results-filter-regex.xml")
(:report-property :format        :junit)
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
