;;; Configuration for LIFT tests

;; Settings
(:print-length          100)
(:print-level           50)
(:print-test-case-names t)

;; Suites to run
(rsb.transport.socket.test::transport-socket-root)

;; Report properties
(:report-property :title "rsb-transport-socket | Test Results")
(:report-property :relative-to rsb-transport-socket-test)

(:report-property :full-pathname "test-report-transport-socket.html/")
(:report-property :format        :html)
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style.css")
(:build-report)

(:report-property :full-pathname "test-results-transport-socket.xml")
(:report-property :format        :junit)
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
